    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/admin/index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        {{range $num , $side := .Render_sidebar}}
                {{if eq $side.Count 0}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{$side.Name}}" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>{{$side.Display_name}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            {{range $num2 , $side2 := $.Render_sidebar}}
                    {{if eq $side2.Parent_id $side.Id}}
                <a class="dropdown-item" href="{{$side2.Name}}">{{$side2.Display_name}}</a>
                            {{end}}
            {{end}}
                    {{/*<div class="dropdown-divider"></div>*/}}
                    {{/*<h6 class="dropdown-header">Other Pages:</h6>*/}}
                    {{/*<a class="dropdown-item" href="/admin/error">404 Page</a>*/}}
                    {{/*<a class="dropdown-item" href="/admin/blank">Blank Page</a>*/}}
                </div>
            </li>
                        {{end}}
        {{end}}

    </ul>