{{template "admin/AdminBase/base.html" .}}
{{define "body" }}
<div id="wrapper">

    <!-- Sidebar -->
{{template "admin/AdminBase/sidebar.html" .}}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">AddUser</li>
            </ol>

            <div class="container">
            <div class="card card-login  mx-auto mt-5">
                <div class="card-header">Add User</div>
                <div class="card-body">
                    <form action="" method="post" >
                        {{.xsrfdata}}
                        {{if .flash.error}}
                            <div class="form-group">
                                <div class="form-label-group bg-danger form-control" style="opacity:0.5;color: #1C1C1C">
                                {{.flash.error}}
                                </div>
                            </div>
                        {{else if .flash.notice}}
                            <div class="form-group">
                                <div class="form-label-group bg-danger form-control" style="opacity:0.5;color: #84b805">
                                {{.flash.notice}}
                                </div>
                            </div>
                        {{end}}
                            <input type="hidden" name="id" value="{{.data.Id}}">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="inputName" class="form-control" name="name" placeholder="Name" required="required" autofocus="autofocus" value="{{.data.Blogname}}">
                                <label for="inputName">Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="inputSerialnum" class="form-control" name="serialnum" placeholder="serialnum" required="required" autofocus="autofocus" value="{{.data.Serialnum}}">
                                <label for="inputSerialnum">serialnum</label>
                            </div>
                        </div>


                        <input type="submit" class="btn btn-primary btn-block" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{{end}}