<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="static/images/icon.jpg">
<title>首页_鲍峰个人博客 - 一个没事瞎JB写的程序猿个人博客网站{{config "Int" "runmode" "50"}}</title>
<meta name="keywords" content="个人博客,鲍峰个人博客,鲍峰" />
<meta name="description" content="鲍峰个人博客，一个没事瞎JB写的程序猿个人博客网站" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/base.css" rel="stylesheet">
<link href="static/css/index.css" rel="stylesheet">
<link href="static/css/m.css" rel="stylesheet">
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="static/js/modernizr.js"></script>
<![endif]-->